:root {
  --bg-image: #fef8f2;
  --text-color: #333;
  --accent-color: #e7b8d9;
  --button-color: #e38886;
  --secondary-bg: #ffe6f0;
}

[data-theme="purple"] {
  --bg-color: #7a6b94;
  --text-color: #2b2b2b;
  --accent-color: #292860;
  --button-color: #653771;
  --secondary-bg: #e9d5ff;
}

body {
  font-family: "Montserrat Alternates", serif;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--text-color);
}

.circular-picture {
  position: relative;
  left: 36%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

header {
  background-color: var(--accent-color);
  padding: 1rem;
  color: white;
  width: 100%;
}

header h1 {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  margin: 0;
}

.description {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
}

header p {
  margin: 0;
  font-size: 1.2rem;
}

button {
  font-family: "Montserrat Alternates", serif;
  background-color: var(--button-color);
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

main {
  padding: 2rem;
}

p {
  line-height: 30px;
}

section {
  width: 700px;
  margin: auto;
  margin-bottom: 2rem;
  background-color: var(--secondary-bg);
  padding: 1rem;
  border-radius: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0.5rem 0;
  padding: 10px;
}

.project-item {
  margin-bottom: 2rem;
  text-align: center;
}

.project-item img {
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  margin: 1rem 0;
}

img:hover {
  transform: scale(1.2);
  transition: 1s ease;
  cursor: pointer;
}

h2 {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  color: var(--button-color);
}

button {
  display: inline-block;
  margin: 0.5rem;
  background-color: var(--button-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;

  font-size: 1rem;
}
a {
  text-decoration: none;
}

a:hover,
button:hover {
  background-color: var(--text-color);
  cursor: pointer;
  transition: 0.5s ease;
  color: white;
}

.contact a {
  color: var(--accent-color);
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
  color: white;
}

footer {
  background-color: var(--accent-color);
  color: white;
  padding: 1rem 0;
  margin-top: 2rem;
}
